/*~
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libpagebuf.pc
/libpagebuf-*.tar.*z*
/libtool
/ltmain.sh
/missing
/pagebuf.pc
/stamp-h1
/*.gcov
/m4/*
/pagebuf/*~
/pagebuf/*.a
/pagebuf/*.la
/pagebuf/*.lo
/pagebuf/*.o
/pagebuf/*.gcno
/pagebuf/*.gcda
/pagebuf/*.gcov
/pagebuf/.deps
/pagebuf/.libs
/pagebuf/Makefile.in
/pagebuf/Makefile
/test/*~
/test/*.o
/test/*.gcno
/test/*.gcda
/test/*.gcov
/test/.deps
/test/.libs
/test/Makefile.in
/test/Makefile
/test/test_ops
/test/test_rnd1
/test/test_rnd2
/test/test_rnd3
