*~
*.exe
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.slo
*.stackdump
*.dSYM
*.a
*.pdf
.deps
.libs
/.cproject
/.project
/Debug
/Build
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libpagebuf.pc
/libpagebuf-*.tar.*z*
/libtool
/ltmain.sh
/missing
/pagebuf.pc
/stamp-h1
pagebuf/Makefile.in
pagebuf/Makefile
test/Makefile.in
test/Makefile
